<div class="card" *ngFor="let item of items; let idx = index">
    <img [src]=item.image alt="Mango" class="mx-auto">
    <h5>{{item.name}}</h5>
    <p class="price">{{item.price | currency:'GBP'}}</p>
    
    <div>
      <!-- <button id="Add" (click)="addItem(item, idx)"> + </button> 
      <input type="text" [(ngModel)]=item.quantity readonly> 
      <button id="Remove" (click)="removeItem(item)"> - </button></div> -->
      <button (click)="addToCart(item)" class="btn btn-success">Add To Cart</button>
  </div>