.row {
    display: flex;
    flex-direction: row;
}

.section {
    border: 2px solid darkmagenta;
    font-size: 24px;
    color: darkmagenta;
}

.section {

    .column {
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }

    .cart {
        position: absolute;
        right: 1em;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        float: left;
        padding: 15px 40px;
    }

    li:hover {
        cursor: pointer;
    }

    .count {
        font-size: 20px;
        background-color: blue;
        border-radius: 50%;
        padding: 2px;
        margin: 5px;
    }

    .fa-shopping-cart {
        font-size: 36px;
        color: white
    }
}