.headContainer {

    .row {
        display: flex;
        flex-direction: row;
    }

    .column {
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }

    .section {
        background-color: darkmagenta;
        font-size: 48px;
        color: white;
    }

    .section2 {
        border: 2px solid darkmagenta;
        font-size: 24px;
        color: darkmagenta;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        float: left;
        padding: 14px 10px;
    }

    li:hover {
        cursor: pointer;
    }

    .count {
        font-size: 20px;
        background-color: blue;
        border-radius: 50%;
        padding: 2px;
        margin: 5px;
    }

    .fa-shopping-cart {
        font-size: 36px;
        color: white
    }

    .fa-shopping-cart {
        cursor: pointer;
    }

}