html {
    overflow-x: hidden;

    .floatRight {
        float: right;
    }

    app-item {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        // justify-content: center;
    }

}